#card-list{
    width: 70%;
}

.show-on-desktop {
    display: flex;
}

.hide-on-mobile {
    display: none;
}

#hamburger-menu {
    float: right;
}

/*FORM START*/
.stoolform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
}
/*FORM END*/